[submodule "Lib9c"]
	path = Lib9c
	url = git@github.com:planetarium/lib9c.git
[submodule "NineChronicles.RPC.Shared"]
	path = NineChronicles.RPC.Shared
	url = git@github.com:planetarium/NineChronicles.RPC.Shared.git
