{
    "$schema": "./config.schema.json",
    "data": {
        "tablePath": "Lib9c/Lib9c/TableCSV"
    },
    "currency": {
        "initialMinter": "",
        "initialCurrencyDeposit": [
            {
                "address": "",
                "amount": 100000,
                "start": 0,
                "end": 0
            }
        ]
    },
    "admin": {
        "activate": false,
        "address": "",
        "validUntil": 10000
    },
    "initialValidatorSet": [
        {
            "publicKey": "",
            "power": 1
        }
    ],
    "initialMeadConfigs": [
        {
            "address": "",
            "amount": "100"
        }
    ],
    "initialPledgeConfigs": [
        {
            "agentAddress": "",
            "patronAddress": "",
            "mead": ""
        }
    ]
}
