name: Deploy gh pages
on:
  push:
    branches:
      - development
      - bugfix/deploy-gh-pages
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/setup-dotnet@v1.7.2
        name: Set up .NET Core SDK
        with:
          dotnet-version: 6.0.*
      - name: Build GraphQL Schema
        run: |
          dotnet restore
          dotnet build
          dotnet run --project NineChronicles.Headless.Executable -- \
            --graphql-server \
            --graphql-port 30000 \
            --graphql-host localhost \
            --store-path /tmp/store \
            --no-miner \
            --no-cors \
            --skip-preload \
            -H localhost \
            -V "0/CbfC996ad185c61a031f40CeeE80a055e6D83005/MEUCIQCtoZmiFgg5NXW7+5jYMae80lTlj7xO4tQfX9CnvomAtwIgWViM8s.4mYQ89wlGkohmynZ43olDzZLBk.bHShKCVrc=" \
            -G "https://download.nine-chronicles.com/genesis-block-9c-main" &
          sleep 30
          wget http://localhost:30000/schema.graphql -O schema.graphql
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies
        run: npm install -g @2fd/graphdoc
      - name: Build
        run: graphdoc -s schema.graphql -o doc
      - name: Copy GraphQL Schema to deploy
        run: cp schema.graphql doc
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc
